.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.bg-center {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

html {
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #1D2844;
}

a {
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms;
}