#about-us {
    @include background-overlay("/about-us/images/bg-about-us.jpg", center right 5%, 229, 242, 248, 0.67);
}

// Tablet
@media (min-width: $screen-sm) { 
    #about-us {
        @include background-gradient('/about-us/images/bg-about-us.jpg', left, 255, 255, 255, 0, 255, 255, 255, 0.5, 40%, right center);
        .container {
            padding-right: 20%;
        }
        h2 {
            font-size: 30px;
        }
    }
    #about-column-wrap {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 20px;
        padding-left: 20px;
        .custom-column {
            max-width: calc(50% - 20px);
        }
    }
}